---
- name: 1. Installing  zabbix-server-mysql, zabbix-webmysql, mysql-server and other some services 
  yum: name={{item}} state=present
  with_items:
    - zabbix-server-mysql
    - zabbix-web-mysql
    - mysql-server
    - screen
    - mc

- name: 2. Installing  MySQL-python
  yum: name=MySQL-python state=present

- name: 3. Ensure mysql-server is running automatically at boot time
  action: command /sbin/chkconfig mysqld on
  notify:
    - restart Mysql-server

- name: 4. Creating a new Zabbix database
  mysql_db: name=zabbix state=present collation=utf8_general_ci

- name: 5. Creating a database user
  mysql_user: name=zabbix priv=zabbix.*:ALL host=localhost state=present

- name: 6. Copying dump of database
  copy: src=base.sql dest=/tmp/base.sql

#- name: 7a. Inserting dump of database
#  shell: cat /tmp/base.sql | mysql -uroot zabbix

- name: 7b. Inserting dump of database
  mysql_db: name=zabbix state=import target=/tmp/base.sql

- name: 8. Copying zabbix.conf to Apache
  template: src=zabbix.conf dest=/etc/httpd/conf.d/zabbix.conf
  notify:
  - restart Apache

- name: 9. Copying  zabbix_server.conf
  template: src=zabbix_server.conf dest=/etc/zabbix/zabbix_server.conf
  notify:
  - restart Zabbix-server

- name: 10. Ensure that Zabbix-server is started
  service: name=zabbix-server state=started 
